@use 'variables' as v;
@use 'mixins' as m;

// *****<Button>******************
// *******************************
button{
    padding: 5px;
    font-size: 1.6rem;

    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;

}


// *****************************************
// **********Header Elements**********************
// ******************************************
.logo{
    height:50%;
}

.links{
    place-self: center;
    @include m.flex-row(3rem, center, center);
    @include m.font(1.5rem, inherit, normal);
    text-transform: uppercase;
}

.header_buttons{
    @include m.flex-row;
}

// *********************************************
// *************Footer Elements**********************
// *********************************************
footer>.linksTop{
    justify-self: start;
    align-self: start;
    @include m.flex-col(1rem, center, start);
}

footer>.footer-nav{
    justify-self: start;
    align-self: end;
    @include m.flex-row (2rem, center, start);
    
}
.git-hub-button{
    @include m.font(2rem, var(--color-primary), normal);
}

footer>.logo{
    height: 25%;
    justify-self: end;
    align-self: start;
}
footer>.allrights{
    justify-self: end;
    align-self: end;
}

// **********************************************
// **********welcom-Page*************************
// **********************************************
.start-container{
    @include m.flex();
    background-image: 
        var(--background-grad-start),
        url('/images/bckgrnd1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 4rem 0;
}

.split{
    position: relative; 
    @include m.size(80%, 80vh, var(--selbutBlock-background-secondary));
    @include m.flex-row(5, center, center);
    border-radius:3rem;
    // overflow: hidden;


//     &::before {
//     content: "";
//     position: absolute;
//     top: -50%;
//     left: -50%;
//     width: 200%;
//     height: 200%; 
//     border-radius: inherit;
//     pointer-events: none;
//     z-index: 2;     
    
//     border-image: linear-gradient(
//       135deg,
//       rgba(255,165,0,0.95) 0%,
//       rgba(255,165,0,0) 50%
//     );
//     background-repeat: no-repeat;

//     -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
//     -webkit-mask-composite: xor;
//     mask-composite: exclude;   

//     animation: shine-border 5s ease-in-out  forwards;
//   }

//   @keyframes shine-border {
//   0%   { transform: translate(0, 0); }
//   100% { transform: translate(100%, 100%);}
// }
}


.split > .voriq-icon, 
.split > .google{
    flex:1;
    @include m.flex-col (n, center, center);
    @include m.size(100%, 100%);
}

.split > .voriq-icon{
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
}
.split > .voriq-icon> img{
    @include m.size(none, 21%,transparent);
    object-fit: contain;
}

.split > .voriq-icon> p{
    font-size: 2.1rem;
    padding-left: 2rem;
}


.split > .google{
    @include m.flex-col(n, center, center);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.google-auth-button{
    @include m.size(none, 21%,transparent);
    aspect-ratio: 1;
}

.google>.subtitle{
    @include m.font(2.1rem, var(--color-primary ), bold);
    // margin-top: 1rem;
}
// ******************************
//******* ModalWindow ***********
// ********************************

.dialog-overlay{
    @include m.position(fixed,0,7rem,0,0);
    background-color: var(--background-grad-secondary);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
   }

.dialog-content{
    background-color:var(--background-primary);
    z-index:50
}   

.dialog-content.fullscreen{
    @include m.position(fixed,0,0,0,0);
    @include m.flex-col(4rem,center,center);
    background-color:var(--background-grad-secondary);
}

.dialog-content.small{
    @include m.hvcenter(fixed);
    max-width: 50rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow)
}

.dialog-content.small>.dialog-title{
    @include m.font(2rem, var(--color-secondary), bold);
    text-align:center;
    margin-bottom: 2rem;
}
.dialog-content.small>.dialog-description{
    color: var(--color-secondary);
    margin-bottom: 2rem;
}

.dialog-content.fullscreen>.dialog-title{
    @include m.font(2rem, var(--color-primary), bold);
    text-align:center;
}
.dialog-content.fullscreen>.dialog-description{
    color: var(--color-primary)
}



// ********************************************
// ********CookiesConsent Modal Window*********
// ********************************************
.cookie_modal_container{
    @include m.flex-row(center, space-between);
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.cookie_modal_container > :nth-child(1),
.cookie_modal_container > :nth-child(2),
.cookie_modal_container > :nth-child(3){
    @include m.font(1.5rem, v.$button-font-color, none);
    @include m.size(27%, 4rem);
    box-shadow: v.$button-shadow;
    border-radius:1rem;
}


.cookie_modal_container > :nth-child(1){
    background-color: v.$red-button;
}
.cookie_modal_container > :nth-child(2){
    background-color: v.$gray-button;
}
.cookie_modal_container > :nth-child(3){
    background-color: v.$green-button;
}

.cookie_modal_container > :nth-child(1):hover{
    background-color: v.$red-button-hover;
}
.cookie_modal_container > :nth-child(2):hover{
    background-color: v.$gray-button-hover;
}
.cookie_modal_container > :nth-child(3):hover{
    background-color: v.$green-button-hover;
}

.cookie_modal_container > :nth-child(3).smallChar{
    @include m.font(1.2rem, v.$button-font-color, normal);
}

.policy_container{
    @include m.flex-row(2rem, start, end);
    width: 100%;
    position: relative;
}

.policy_container>button{
    @include m.font(1.3rem, var(--color-light),normal);
}

.policy_container>button:hover,
.policy_container>button:active{
    color: var(--color-secondary)
}

// *************************************
// ********ErrorModalWindow*****
// **************************************

.errorQuestion{
    font-size: 3rem;
}
.errorButtons{
    @include m.flex-row(5rem, center, space-between);
}

.retryButton{
    @include m.font(2rem, v.$green-button, bold);
}

.retryButton:hover,
.retryButton:active{
    color: v.$green-button-hover
}
.abortButton{
    @include m.font(2rem, v.$red-button, bold);
}
.abortButton:hover,
.abortButton:active{
    color: v.$red-button-hover;
}
// *************************************
// ********Car-Page*********************
// **************************************
.car-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(max-content, 80vh) 80vh 50vh ;
    grid-template-areas: 
      "flexExperience "
      "chooseUs"
      "aboutUs"
    ;
    $car-container-areas: (
    ".experience-block": flexExperience,
    ".chooseBlock": chooseUs,
    ".aboutUsBlock": aboutUs,
    );
    
    @include m.grid-area($car-container-areas);
}

// ****************experience-block****
// *************************************
.experience-block{
    position: relative; //for Hint

    background-image: 
        var(--background-grad-primary),
        url('/images/bckgrnd1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 2rem;
    padding-top: 7rem;
    display: grid;;
    row-gap: 7rem;
    grid-template-rows: 1fr 1fr auto ;
    grid-template-areas: 
      "textt"
      "selectors-buttons"
      "result"
    ;
    $experience-block-areas: (
    ".textt": textt,
    ".topCarSite":result, "result"
    ".selector-button-wrap": selectors-buttons
    );

    @include m.grid-area($experience-block-areas);
    place-items: center;

}

.experience-block .textt{
    @include m.size (60%, 100%, inherit);
    text-align: center;
    @include m.flex-col(2rem, center, center);
}

.experience-block .textt .first{
    @include m.flex-row(2rem, center, center);
    @include m.font(1.5rem, var(--color-primary), normal)
}
.experience-block  .textt .second{
    @include m.flex-row(2rem, center, center);
    @include m.font(4.6rem, var(--color-primary), bold);
    text-transform: uppercase;
}
.experience-block .textt .third{
    width: 60%;
    @include m.flex-row(2rem, center, center, wrap);
    @include m.font(2rem, var(--color-primary), normal);
    line-height: 2.7rem;
}



.selector-button-wrap{
   
    @include m.size(90%, 25vh, var(--selbutBlock-background-primary));
    border-radius: 30px;
    padding-left: 4rem;


    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
      "selectors buttons"
    ;
    $experience-block-areas: (
    ".selector_container": selectors,
    ".analyze_button_container": buttons,
    );

    @include m.grid-area($experience-block-areas);
    place-items: center;

}
// ********Selector-Block*****
// ***************************************
.selector_container{
    @include m.size(100%,80%, transparent);
    @include m.flex-row(2rem, space-around, center, wrap)
}
// ********analyze - newCar Buttons*****
// ***************************************
.analyze_button_container{
    @include m.flex-col(n, space-around, center);
    width: 100%;
    height: 80%;
}
.analyze_button_container button{
    @include m.size(60%, 5.8rem);
    border-radius: var(--border-radius);
    @include m.font (2.2rem, v.$button-font-color, 500 );
    padding:1rem;
}

.analyze_button_container .disabled_button{
    background-attachment: v.$green-button;
    background-color: var(--green-button-disabled, #{v.$green-button});
    cursor: not-allowed;
    transform:none;
    transition-property: background-color;
    transition-duration: 200ms;
}

.analyze_button_container .enabled_button{
    background-color: v.$green-button;
    transition-property: background-color;
    transition-duration: 200ms;
}
.analyze_button_container .enabled_button:hover{
    background-color: v.$green-button-hover;
}
// ****************resultBlock**********
// *************************************
.topCarSite{
    @include m.flex-row(10rem,space-between, center);
    @include m.size(100%, 40%);
    align-self: start;
}

.carData{
    @include m.size(40%, 90%, transparent);
    @include m.flex-col(2rem, left, start);
    margin-left:5rem;  
    padding: 3rem;

  }

.carData>h2{
    color: v.$green-button;
}

.resultData{
    @include m.size(40%, 90%, transparent);
    @include m.flex-col(2rem, space-between, center);
    margin-left: 2rem;    
}

.resultData>h2 {
    @include m.font(2rem, var(--color-light), normal);
    text-align: center;
}

.resultData>h1 {
    @include m.font(3rem, v.$red-button, normal);
}
// ****************chooseBlock**********
// *************************************
.chooseBlock{
    @include m.size(100%, 100%, inherit);
    background: var(--background-grad-blue, inherit);

    display: grid;
    grid-template-rows: 1fr 4fr ;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    grid-template-areas: 
      ". chooseTitle chooseTitle chooseTitle ."
      ". choose-us-1 choose-us-2 choose-us-3 ." 
    ;
    $choose-block-areas: (
    ".choose-us-title": chooseTitle,
    ".choose-us-1": choose-us-1,
    ".choose-us-2": choose-us-2,
    ".choose-us-3": choose-us-3,
    );

    @include m.grid-area($choose-block-areas);
    place-items: center;

}

.choose-us-title{
    @include m.size(100%, 100%);
    @include m.font(5rem, var(--color-secondary), bold);
    @include m.flex();
}

.choose-us-1,
.choose-us-2,
.choose-us-3
{   
    @include m.size(90%, 90%, var(--background-secondary));
    border-radius: 30px;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
      "chooseImage"
      "chooseText" 
    ;
    $experience-block-areas: (
    ".choose-us-title": chooseImage,
    ".choose-us-1": chooseText
    );
}

.chooseImage{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 5px solid var(--green-button);
}

.choose-us-1 .chooseImage{
    background-image: url('/images/choose-1.jpg');
}
.choose-us-2 .chooseImage{
    background-image: url('/images/choose-2.jpg');
}
.choose-us-3 .chooseImage{
    background-image: url('/images/choose-3.jpg');
}

.chooseText{
    padding: 4rem;
    @include m.font(1.8rem, var(--color-primary), normal);
    line-height: 2.5rem;
}



// ****************aboutUSBlock**********
// *************************************
.aboutUsBlock{
    width: 100%;
    height: 100%;
    background-image: 
        var(--background-grad-secondary),
        url('/images/bckgrnd2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    grid-template-areas: 
      ". about-1 about-2 about-3 ." 
    ;
    $about-block-areas: (
    ".about-1": about-1,
    ".about-2": about-2,
    ".about-3": about-3,
    );

    @include m.grid-area($about-block-areas);
    align-self: start;
    justify-self: center;
}

.about{
    @include m.flex-col(2rem, start, center);
    padding: 3rem;
}

.icon{
    @include m.size(8rem, 8rem, none);
    @include m.flex();
    background:var(--icon-gradient);
    border-radius: 2rem;
    padding: 2rem;
}
.about p{
    @include m.font(1.8rem, var(--color-primary), inherit);
    line-height:3rem;
}

.about .icon+p{
    font-weight: bold;
    text-align: center;

}

.about .icon+p+p{
    text-align: center;
}

// ******************************************
// ************HintTour**********************
// ******************************************
.hint_container{
    @include m.position(absolute);
    @include m.flex-col (1rem, center, center);
    @include m.font(1.2rem, var(--color-title), normal);
    background-color: var(--background-secondary);
    border: transparent;
    border-radius: 15px;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0;
}

.hint_container>.small_element{
    @include m.position(absolute, var(--tip-offset), null,null,-10px);
    width: 0;
    height: 0;
    border-left:10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px var(--background-secondary) solid;
}

.hint_container>.hint_buttons_container{
    @include m.size (100%, 100%, none);
    @include m.flex-row(4rem, center, center);
}
#b16{
    color: v.$red-button;
}
#b16:hover{
    color: v.$red-button-hover;
}

// *******************************************

// *********************************************

// *************************************************
// ******Speedometer*******************************
// ************************************************
.speedometer {
  width: 200px;
//   margin: 40px auto;
}

.dial {
  width: 100%;
  height: auto;
  fill:none;
  stroke-width: 10px;
}

.speedNums{
   font-size: 1rem; 
   font-weight: bold;
   fill:var(--color-primary);
}

.speedTicks{
     stroke:var(--color-primary);
     stroke-width:1px;
}

.needle {
 stroke:v.$red-button-hover;
 stroke-width:3px;
 stroke-linecap:round;

  transform-origin: 100px 100px; 
  transform: rotate(90deg);  
  animation: swing 1s ease-in-out infinite;

}

@keyframes swing {
  20%   { transform: rotate(150deg); }
  40%  { transform: rotate(120deg); }
  70%  { transform: rotate(170deg); }
  100% { transform: rotate(90deg); }
}




