@mixin flex-col ($gap: 0, $justify: center, $align: center, $wrap: nowrap) {
      display: flex;
      flex-direction: column;
      justify-content: $justify;
      align-items: $align;
      flex-wrap: $wrap;
      gap: $gap
}

@mixin flex-row ($gap: 0, $justify: center, $align: center, $wrap: nowrap) {
      display: flex;
      justify-content: $justify;
      align-items: $align;
      flex-wrap: $wrap;
      gap: $gap
}

@mixin flex ($gap: 0, $justify: center, $align: center, $wrap: nowrap) {
      display: flex;
      justify-content: $justify;
      align-items: $align;
      flex-wrap: $wrap;
      gap: $gap
}

@mixin position ($position, $left:null, $top:null, $right:null, $bottom:null) {
      @if $position =='fixed' {
            position: fixed;
      }

      @if $position =='absolute' {
            position: absolute;
      }

      @if ($left !='null') {
            left: $left;
      }

      @if ($top !='null') {
            top: $top;
      }

      @if ($right !='null') {
            right: $right;
      }

      @if ($bottom !='null') {
            bottom: $bottom;
      }

}

@mixin font ($font-size, $color, $font-weight) {
      font-size: $font-size;
      color: $color;

      @if $font-weight=='bold' {
            font-weight: bold;
      }
}

@mixin size ($width, $height, $background-color: inherit) {
      width: $width;
      height: $height;

      @if $background-color !='none' {
            @if $background-color =="cover" {
                  object-fit: 'cover';
            }

            @else if $background-color =="contain" {
                  object-fit: 'contain';
            }

            @else {
                  background-color: $background-color;
            }
      }
}

@mixin hvcenter($position) {
      position: $position;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}

@mixin hcenter($position) {
      position: $position;
      left: 50%;
      transform: translate(-50%, 0);
}

@mixin grid-area-num($rowstart, $rowend , $colstart, $colend) {
      grid-area: #{$rowstart}/#{$colstart}/#{$rowend}/#{$colend};
}

//grid-template-columns: calc(17ch - 4rem) 4rem auto;
 //     grid-template-rows: 2rem 1.8rem repeat(2, 2rem) 1rem;
 //     grid-template-areas:
 //           "house house  lang-ham"
 //           ". gerb  ."
 //           "casa gerb  ."
 //           "nostra gerb  bookbutton"
  //          "linie linie linie";

 //     $header-index-grid-area: (
  //          ":nth-child(1)": house,
  //          ":nth-child(2)": casa,
  //          ":nth-child(3)": nostra,
 //           ".logo": gerb,
 //           ".bookbtn": bookbutton,
  //          "nav": lang-ham,
  //          ".line": linie
  //    );
//@include grid-area($header-index-grid-area);
// $areas1:($selector-n:$area-n)
// @include grid-area($areas1)
@mixin grid-area ($areas) {
      @each $selector, $area in $areas {
            #{$selector} {
                  grid-area: $area;
            }
      }
}