$color-primary: rgb(32, 32, 32);

$color-background-primary: #fce4ec;
$color-background-secondary:#dbeafe;

$color-background-basis-comp: rgb(199, 199, 199);

$red-button: rgb(226, 84, 84);
$red-button-hover:red;
$green-button:rgb(87, 199, 87);
$green-button-hover:green;
$gray-button:gray;
$gray-button-hover:rgb(78, 77, 77);

:root{
    --background-primary: #f3f3f3;
    --background-secondary: #cecece;
    --background-light: #fffdfe;

    --background-dark:rgba(122, 122, 122, 0.7);

    --color-primary:rgb(58, 58, 58);
    --color-secondary:rgb(63, 61, 61);
    --color-title:rgb(27, 27, 27);
    --color-light: #fffefe;
    
    --box-shadow: 0 10px 15px -3px rgba(36, 8, 18, 0.1), 0 4px 6px -2px rgba(36, 8, 18, 0.05);
    
}

.blue{
    --background-primary:#dbeafe;
    --background-secondary:#a8ccfc;
    --background-light:#eff6ff;

    --background-dark:rgb(32, 46, 65, 0.7);


    --color-primary:#080333;
    --color-secondary:#0f0852;
    --color-title: rgb(5, 5, 97);
    --color-light: rgb(157, 193, 228);
    
    --box-shadow: 0 10px 15px -3px rgba(8, 3, 48, 0.1), 0 4px 6px -2px rgba(8, 3, 48, 0.05);

}

.dark{
    --background-primary:#3e3e3f;
    --background-secondary:#949494;
    --background-light:#dfe1e4;

    --background-dark:rgb(25, 25, 26, 0.7);


    --color-primary:rgb(156, 155, 155);
    --color-secondary:white;
    --color-title:#1d1d1d;
    --color-light: rgb(179, 175, 175);

    --box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05)

}

