:root{
--color-theme-dark:#271B52;
--color-theme-light:#cecece;
--color-theme-blue:#a8ccfc;

--background-light: #f3f0f5;
--icon-gradient: linear-gradient(
        135deg,
        #8560ff 15.99%,
        #6135f4 83.63%
    );
}


// buttons

$button-shadow: 
    6px 6px 12px #c5c5c5,
   -6px -6px 12px #ffffff;

$red-button: rgb(226, 84, 84);
$red-button-hover:red;

$green-button:#54C340;
$green-button-hover:#22950E;
// $green-button-disabled:rgb(187, 250, 187);

$gray-button:gray;
$gray-button-hover:rgb(78, 77, 77);

$button-font-color: white;



.light{
    --background-primary:#f3f0f5;
    --background-secondary:#EBE6FF;
    --background-footer:#777198;

    --background-grad-primary:linear-gradient(
        354.4deg, 
        rgba(187, 168, 251, 0.9) -3.2%,
        rgba(73, 57, 150, 0.9) 95.68%
        );


    --background-grad-secondary: linear-gradient(
    180deg,
    rgba(237, 232, 255, 0.85), 
    rgba(144, 134, 182, 0.85) 75%,
    #777198
    );

    --background-grad-start: linear-gradient(
         180deg, 
        rgba(187, 168, 251, 0.9) -3.2%,
        rgba(237, 232, 255, 0.85) 50%,

        #777198 100%
    );
    --selbutBlock-background-primary:#f6f4ff2d;
    --selbutBlock-background-secondary:#FFFFFF1A;
    --selbutBlock-background-active:#f6f4ff4c;
;
    --selbutBlock-border:#0A0E2D;


    --menu-background: #b1a7d5fe; 



    /* Hover / Focus / Active */
    --menu-hover: rgb(150, 139, 189);               
    --menu-active: #d7c8e0;                

    /* Scroll */
    --scroll-track: transparent;
    --scroll-thumb: rgb(143, 20, 237);  

    --color-primary:#02033B;
    --color-secondary:#02033B;
    --color-light:#8b88cd;

    // --box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    --box-shadow: 
        0 0 35px rgba(160, 100, 255, 0.45),
        0 6px 16px rgba(90, 60, 200, 0.25);



    --claro-slider:#c4c1fc;
    --claro-circle:#e6e6e6;
    --claro-color:#424063;
    --claro-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.2),
                     5px 5px 10px 0 rgba(0, 0, 0, 0.19);
    --claro-orange: rgb(255, 128, 0);
    --font-family:'Inter', Arial, sans-serif;
    
    --border-radius:2.9rem;
    
}

.blue{

    --background-primary:#dbeafe;
    --background-secondary:#a8ccfc;
    --background-footer:#8ebaf5;

    --background-grad-primary:linear-gradient(
        180deg, 
        rgb(219, 234, 254) -3.2%,
        rgb(168, 204, 252, 0.9) 80%,
        #99BBE6
        );

    --background-grad-blue: linear-gradient(
        180deg,
        #99BBE6 15.99%,
        #BBCDDB
    );
    
    --background-grad-secondary: linear-gradient(
    180deg,
    rgba(217, 238, 254, 0.85), 
    rgb(142, 186, 245)
    );

    --background-grad-start: linear-gradient(
         180deg, 
        rgb(219, 234, 254) -3.2%,
        rgba(187, 217, 255, 0.9) 50%,

        rgb(142, 186, 245) 100%
    );

    --selbutBlock-background-primary:#f6f4ff2e;
    --selbutBlock-background-secondary:#ffffff22;
    --selbutBlock-background-active:rgba(167, 203, 250, 0.584);
;
    --selbutBlock-border:white;


    --menu-background: rgba(185, 213, 249); 

    /* Hover / Focus / Active */
    --menu-hover: rgb(166, 202, 248);               
    --menu-active: rgb(138, 186, 250);                

    /* Scroll */
    --scroll-track: transparent;
    --scroll-thumb: orange;  


    --green-button-disabled:rgb(187, 250, 187);
    
    --color-primary:#03057f;
    --color-secondary:#020364;
    --color-light:#8ca6f6;

    --box-shadow: 
        10px 10px 40px rgba(248, 246, 243, 0.842),
        20px 3px 20px rgba(255, 140, 0);

    --claro-slider:#a0c5f5;
    --claro-circle:#e6e6e6;

    --claro-color:#12097c;
    --claro-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.2),
                 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
    --claro-orange: rgb(255, 128, 0);
    --font-family:'Inter', Arial, sans-serif;   
    
    
    
    --border-radius:1.5rem;
}

.dark{

    --background-primary:#f3f0f5;
    --background-secondary:#271B52;
    --background-footer:#0A0E2D;

    --background-grad-primary: linear-gradient(
    360deg,
    rgba(33, 16, 88, 0.9) -3.2%,
    rgba(17, 13, 36, 0.9) 95.68%
  );

    --background-grad-secondary: linear-gradient(
    180deg,
    rgba(47, 29, 111, 0.85) 56.8%, 
    rgba(20, 15, 42, 0.85) 98.27%  
    );

    --background-grad-start: linear-gradient(
         180deg, 
        rgba(33, 16, 88, 0.9) -3.2%,
        rgba(47, 29, 111, 0.85) 56.8%, 
          rgba(20, 15, 42, 0.85) 98.27%  
    );
    --selbutBlock-background-primary:#EFEBFF66;
    --selbutBlock-background-secondary:#FFFFFF1A;
    --selbutBlock-background-active:#FFFFFF8C;
;
    --selbutBlock-border:#DDDFFF;


    --menu-background: #c9c7d1fe; 

    /* Hover / Focus / Active */
    --menu-hover: rgb(171, 161, 206);               
    --menu-active: #f3f0f5;                

    /* Scroll */
    --scroll-track: transparent;
    --scroll-thumb: #8d83b0ff;  

    --color-primary:white;
    --color-secondary:#02033B;
    --color-light:#8b88cd;

    --box-shadow:
      0px 10px 13px -7px #130e2b,
      5px 5px 15px 5px rgba(190, 180, 237, 0.03);
      
    --claro-slider:#8b88cd;
    --claro-circle:#e6e6e6;
    --claro-color:#7370a9;
    --claro-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.2),
                 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
    --claro-orange: rgb(255, 128, 0);
    --font-family:'Inter', Arial, sans-serif; 
    
    --border-radius:2.9rem;

}

